* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem;

    .container {
        padding: 2rem;
        width: 80%;
        height: 40rem;

        .content {
            padding: 1rem;
            text-align: center;
            height: 24rem;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h3 {
                font-size: 2.4rem;
            }

            p {
                font-size: 1.6rem;
            }

        }

    }

    .tabs-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        button{
            padding: 1rem;
            font-size: 1.4rem;
            background-color: #b4b3b3;
            color: #000000;
            cursor: pointer;
            border: none;
            transition: 0.2s;
        }

        button:hover {
            background-color: #868686;
        }

    }

}

.d-none {
    display: none;
}


.bg-london { background-color: red; }
.bg-paris { background-color: green; }
.bg-tokyo { background-color: orange; }
.bg-lisboa { background-color: blueviolet; }