* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background-color: #333;
    color: #fff;

    #currency-converter {
        padding: 3rem;
        background-color: #fff;
        color: #333;
        border-radius: 0.6rem;

        h1,
        label,
        input,
        select,
        button,
        .res {
            margin: 1rem 0;
        }

        h1,
        .res {
            font-size: 2rem;
            text-align: center;
            color: #164169;
        }

        label,
        select,
        input,
        button {
            display: block;
            font-size: 1.2rem;
            padding: 0.4rem;
        }

        input,
        select,
        button {
            width: 100%;
        }

        button {
            background-color: #fff;
            color: #164169;
            border: 0.1rem solid #164169;
            cursor: pointer;
            border-radius: 0.6rem;
            transition: 0.2s;
        }

        button:hover {
            color: #fff;
            background-color: #164169;
        }

    }

}