* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #333333;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
}

.container {
    margin: 1rem 0;
    padding: 1rem;

    h1 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .error {
        padding: 1rem;
        background-color: #8a4d4d67;
        color: #610e0e;
        text-align: center;
        margin: 1rem 0;
        border-radius: 0.6rem;
    }

    label,
    input,
    button,
    p,
    a {
        font-size: 1.6rem;
    }

    button {
        border: 0.1rem solid #252570;
        padding: 0.2rem 0.4rem;
        outline: none;
        cursor: pointer;
        color: #252570;
        background-color: transparent;
        border-radius: 0.6rem;
        transition: 0.2s;
    }

    button:hover {
        background-color: #252570;
        color: #ffffff;
    }

    #display {
        width: 20rem;

        .user-save {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 0.1rem solid #15153a;
            margin: 1rem 0;
            padding: 1rem;
            border-radius: 0.6rem;

            a {
                margin: 0.2rem;
            }

            #btn-edit i {
                color: #15153a;
            }

            #btn-delete i {
                color: #610e0e;
            }

        }

    }

}